body{
    background-color :lightblue;

}
 .property-price{
     font-size: 28px;
 }
 .AllCardImage {
     object-fit: cover;
     height: 300px;

 }
 .divImg{
     position: relative;

 }
 .vendu {
     width: 150px;
     position: absolute;
     right: 0;
     z-index: 1;
 }

