<div class="bg-white border-shadow padding-20">
						<p class="h3 h-alt txt-black no-padding-right">
							Trouvez votre logement<br>
							sans commission
						</p>

						<form method="post" action="/recherche" id="homepage_recherche_form">
							<div class="form-group margin-bottom-20">
								<div class="options-group options-group-radio-alt-2 flex-grow options-group-radio">
									<div class="option no-margin-bottom no-padding-left no-padding-right option-active">
										<input type="radio" id="produit_vente" name="produit" value="vente" checked="">
										<label for="produit_vente">Achat</label>
									</div>
									<div class="option no-margin-bottom no-padding-left no-padding-right">
										<input type="radio" id="produit_location" name="produit" value="location">
										<label for="produit_location">Location</label>
									</div>
									<div class="option option-link no-margin-bottom no-padding-left no-padding-right">
										<a href="https://www.papvacances.fr" target="_blank" class="no-padding-left no-padding-right">Vacances</a>
									</div>
								</div>
							</div>
							<div class="form-group margin-bottom-20">
								<label for="geo_objets_ids" class="hidden">Localisation</label>
								<ul class="token-input-list"><li class="token-input-input-token"><input type="text" autocapitalize="off" autocorrect="off" autocomplete="new-geo_objets_ids" id="token-input-geo_objets_ids" placeholder="Lieu(x)" style="outline: none; width: 103px;"><tester style="position: absolute; top: -9999px; left: -9999px; width: auto; font-size: 16px; font-family: Lato, Arial, Verdana, sans-serif; font-weight: 400; letter-spacing: 0px; white-space: nowrap;">Lieu(x)</tester></li></ul><input type="text" id="geo_objets_ids" name="geo_objets_ids" value="" placeholder="Lieu(x)" class="token-input" data-token-input="{&quot;acUrl&quot;:&quot;\/json\/ac-geo&quot;,&quot;acUrlInit&quot;:&quot;\/json\/ac-geo-init&quot;,&quot;minChars&quot;:2,&quot;hintText&quot;:&quot;R\u00e9gion, code postal, d\u00e9partement, ville, pays...&quot;,&quot;noResultsText&quot;:&quot;0 r\u00e9sultat&quot;,&quot;searchingText&quot;:&quot;Recherche...&quot;,&quot;tokenLimit&quot;:20,&quot;preventDuplicates&quot;:true,&quot;autoSelectFirstResult&quot;:true}" style="display: none;">
							</div>
							<div class="form-group margin-bottom-20">
								<label for="typesbien" class="hidden">Types de bien :</label>
								<div class="SumoSelect sumo_typesbien[]" tabindex="0"><select multiple="multiple" id="typesbien" name="typesbien[]" placeholder="Types de bien" class="multi-select-new SumoUnder" tabindex="-1">
																			<option class="typesbien-vente typesbien-location" value="maison">Maison</option>
																				<option class="typesbien-vente typesbien-location" value="appartement">Appartement</option>
																				<option class="typesbien-vente" value="terrain">Terrain</option>
																				<option class="typesbien-vente typesbien-location" value="garage-parking">Garage, parking</option>
																				<option class="typesbien-vente" value="immeuble">Immeuble</option>
																				<option class="typesbien-vente" value="surface-a-amenager">Surfaces diverses</option>
																				<option class="typesbien-vente typesbien-location" value="peniche">Péniche</option>
																				<option class="typesbien-vente typesbien-location" value="mobil-home">Chalet, mobil-home</option>
																				<option class="typesbien-vente" value="viager">Viager</option>
																				<option class="typesbien-vente" value="multipropriete">Multipropriété</option>
																				<option class="typesbien-location" value="location-accession" disabled="">Location-accession</option>
																				<option class="typesbien-vente typesbien-location" value="residence-avec-service">Résidence avec services</option>
																				<option class="typesbien-location" value="logement-contre-services" disabled="">Logement contre services</option>
																				<option class="typesbien-vente typesbien-location" value="bureaux">Bureaux et locaux professionnels</option>
																				<option class="typesbien-vente typesbien-location" value="local-commercial">Local commercial</option>
																				<option class="typesbien-vente" value="fonds-de-commerce">Fonds de commerce</option>
																				<option class="typesbien-vente typesbien-location" value="local-d-activite">Local d'activité</option>
																				<option class="typesbien-vente typesbien-location" value="divers">Propositions diverses</option>
																		</select><p class="CaptionCont SelectBox" title=" Types de bien"><span class="placeholder"> Types de bien</span><label><i></i></label></p><div class="optWrapper multiple"><ul class="options"><li class="opt typesbien-vente typesbien-location"><span><i></i></span><label>Maison</label></li><li class="opt typesbien-vente typesbien-location"><span><i></i></span><label>Appartement</label></li><li class="opt typesbien-vente"><span><i></i></span><label>Terrain</label></li><li class="opt typesbien-vente typesbien-location"><span><i></i></span><label>Garage, parking</label></li><li class="opt typesbien-vente"><span><i></i></span><label>Immeuble</label></li><li class="opt typesbien-vente"><span><i></i></span><label>Surfaces diverses</label></li><li class="opt typesbien-vente typesbien-location"><span><i></i></span><label>Péniche</label></li><li class="opt typesbien-vente typesbien-location"><span><i></i></span><label>Chalet, mobil-home</label></li><li class="opt typesbien-vente"><span><i></i></span><label>Viager</label></li><li class="opt typesbien-vente"><span><i></i></span><label>Multipropriété</label></li><li class="opt disabled typesbien-location" style="display: none;"><span><i></i></span><label>Location-accession</label></li><li class="opt typesbien-vente typesbien-location"><span><i></i></span><label>Résidence avec services</label></li><li class="opt disabled typesbien-location" style="display: none;"><span><i></i></span><label>Logement contre services</label></li><li class="opt typesbien-vente typesbien-location"><span><i></i></span><label>Bureaux et locaux professionnels</label></li><li class="opt typesbien-vente typesbien-location"><span><i></i></span><label>Local commercial</label></li><li class="opt typesbien-vente"><span><i></i></span><label>Fonds de commerce</label></li><li class="opt typesbien-vente typesbien-location"><span><i></i></span><label>Local d'activité</label></li><li class="opt typesbien-vente typesbien-location"><span><i></i></span><label>Propositions diverses</label></li></ul><div class="MultiControls"><p class="btnOk">OK</p><p class="btnCancel">Cancel</p></div></div></div>
							</div>
							<div class="row margin-bottom-20">
								<div class="col-1-2 sm-col-1-2">
									<div class="form-group">
										<label for="nb_pieces" class="hidden">Nombre de pièces</label>
										<div class="SumoSelect sumo_nb_pieces[list][]" tabindex="0"><select multiple="multiple" id="nb_pieces" name="nb_pieces[list][]" placeholder="Pièces" class="multi-select-new SumoUnder" tabindex="-1">
																						<option value="1">
												Studio											</option>
																						<option value="2">
												2 pièces											</option>
																						<option value="3">
												3 pièces											</option>
																						<option value="4">
												4 pièces											</option>
																						<option value="5">
												5 pièces											</option>
																						<option value="6">
												6 pièces et +											</option>
																					</select><p class="CaptionCont SelectBox" title=" Pièces"><span class="placeholder"> Pièces</span><label><i></i></label></p><div class="optWrapper multiple"><ul class="options"><li class="opt"><span><i></i></span><label>
												Studio											</label></li><li class="opt"><span><i></i></span><label>
												2 pièces											</label></li><li class="opt"><span><i></i></span><label>
												3 pièces											</label></li><li class="opt"><span><i></i></span><label>
												4 pièces											</label></li><li class="opt"><span><i></i></span><label>
												5 pièces											</label></li><li class="opt"><span><i></i></span><label>
												6 pièces et +											</label></li></ul><div class="MultiControls"><p class="btnOk">OK</p><p class="btnCancel">Cancel</p></div></div></div>
									</div>
								</div>
								<div class="col-1-2 sm-col-1-2">
									<div class="form-group">
										<label for="nb_chambres" class="hidden">Nombre de chambres :</label>
										<div class="SumoSelect sumo_nb_chambres[min]" tabindex="0"><select id="nb_chambres" name="nb_chambres[min]" placeholder="Chambres" class="multi-select-new SumoUnder" tabindex="-1">
											<option value="">Chambres</option>
																						<option value="1">
												1 chambre											</option>
																						<option value="2">
												2 chambres											</option>
																						<option value="3">
												3 chambres											</option>
																						<option value="4">
												4 chambres											</option>
																						<option value="5">
												5 chambres											</option>
																						<option value="6">
												6 chambres et +											</option>
																					</select><p class="CaptionCont SelectBox" title=" Chambres"><span> Chambres</span><label><i></i></label></p><div class="optWrapper"><ul class="options"><li class="opt selected"><label>Chambres</label></li><li class="opt"><label>
												1 chambre											</label></li><li class="opt"><label>
												2 chambres											</label></li><li class="opt"><label>
												3 chambres											</label></li><li class="opt"><label>
												4 chambres											</label></li><li class="opt"><label>
												5 chambres											</label></li><li class="opt"><label>
												6 chambres et +											</label></li></ul></div></div>
									</div>
								</div>
							</div>
							<div class="row margin-bottom-20">
								<div class="col-1-2 sm-col-1-2">
									<div class="form-group">
										<label for="surface_min" class="hidden">Surface minimum</label>
										<div class="icon-input-wrapper icon-input-surface"><input type="text" id="surface_min" name="surface[min]" value="" placeholder="Surface minimum" class="icon-input icon-input-surface"></div>
									</div>
								</div>
								<div class="col-1-2 sm-col-1-2">
									<div class="form-group">
										<label for="prix_max" class="hidden">Prix maximum</label>
										<div class="icon-input-wrapper icon-input-euros"><input type="text" id="prix_max" name="prix[max]" value="" placeholder="Prix maximum" class="icon-input icon-input-euros"></div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-1-2 sm-col-1-2">
									<div class="form-group">
										<a href="#dialog_creer_une_alerte" class="btn btn-outline no-border btn-full-width btn-corail dialog-box-handler"><span class="icon icon-bell txt-corail"></span>Créer une alerte</a>
									</div>
								</div>
								<div class="col-1-2 sm-col-1-2">
									<div class="form-group">
										<input type="hidden" name="action" value="submit">
										<input type="submit" class="btn btn-full-width btn-type-1" value="Rechercher">
									</div>
								</div>
							</div>
						</form>
					</div>