<tr>
    <td>L'année de renovation: </td>
    <td>{{ property.anneeRenovation }}</td>
</tr>
<tr>
    <td>L'étage: </td>
    <td>{{ property.etage }}</td>
</tr>
<tr>
    <td>Les charges: </td>
    <td>{{ property.charge }} &euro/mois</td>
</tr>
