{% extends 'base.html.twig' %}

{% block title %}Mes annonces -{{ parent() }}{% endblock %}

{% block page_base %}
    <h1 class="text-center">Mes annonces</h1>

    <div class="row">
        {{ include('real_estate/_real_estate.html.twig') }}
    </div>
{% endblock %}
