{% extends 'index.html.twig' %}

{% block body %}
    <h1>   test  ok</h1>

 <div class="container" style="width: auto">
     {% for label, messages in app.flashes %}
     {% for message in messages %}
         <div class="alert alert-{{ label }} -m4">
             {{ message }}
         </div>

     {% endfor %}
     {% endfor %}


      {% block  page_base %}
      {% endblock %}
{% endblock %}